/*Primary and secondary background colours*/
html,
body {
  background-color: #555555;
}
#navbar-main {
  background: #555555;
  border-bottom: 1px solid #fff;
  color: #fff;
}
#navbar-main .dropdown .dropdown-menu {
  background: green;
  color: black;
}
#navbar-main .dropdown .dropdown-menu a {
  color: black;
  background: transparent;
}
#navbar-main a {
  display: block;
  color: #fff;
}
#navbar-main a:hover {
  background: #fff;
  color: #000;
}
.container {
  background-color: #fff;
}
/*# sourceMappingURL=main.css.map */