/*Primary and secondary background colours*/
@primarybg:#555555;
@secondarybg:#fff;

//primary and secondary text
@primarytext:#000;
@secondarytext:#fff;

html,body
{
  background-color:@primarybg;
}

#navbar-main
{
  .dropdown{
    .dropdown-menu
    {
      a{
        color:black;
        background: transparent;
      }
      background: green;
      color:black;
    }
  }
  a{
    display:block;
    color:@secondarytext;
  }
  a:hover
  {
    background: @secondarybg;
    color:@primarytext;
  }
  background: @primarybg;
  border-bottom:1px solid @secondarytext;
  color:@secondarytext;
}

.container
{
  background-color:@secondarybg;
}